<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div class="sticky top-0 h-16 border-b bg-white lg:py-3 z-10">
    <div class="px-6 flex items-end ml-[85%] cursor-pointer justify-between space-x-4 2xl:container">
      <div class="group inline-block">
        <button
          class="outline-none focus:outline-none border-none px-3 py-2 bg-white rounded flex items-center min-w-32"
        >
          <span class="pr-1 font-semibold flex-1">{{adminDetails.adminName}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <span>
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180
              transition duration-150 ease-in-out ml-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top min-w-32"
        >
          <li class="rounded-sm px-3 py-1 hover:bg-gray-100 " [ngClass]="{'hidden':adminDetails.access=='ReadWrite'?false:true}" routerLink="/admin/add-admin" >Add Admin &nbsp;
            <!-- <i class='fas fa-user-cog float-right'></i> -->
            </li>
          <li class="rounded-sm px-3 py-1 hover:bg-gray-100 justify-center" (click)="logout()">Logout <i class="fa-solid fa-arrow-right-from-bracket float-right"></i> </li>
        </ul>
      </div>
      

      
        <!-- <div class="flex space-x-4 items-end">
            <div class="dropdown  inline-block relative">
                <button  class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle w-5 h-5" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 cursor-pointer">
                  <li ><a class="hover:text-blue-700  py-2 px-4 block whitespace-no-wrap" routerLink="admin/add-admin" >Add Admin</a></li>
                  <li ><a class="hover:text-blue-700  py-2 px-4 block whitespace-no-wrap" (click)="logout()">Logout</a></li>
                </ul>
              </div>
        </div> -->
    </div>
</div>
