
<div class="container-sm">
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

  <div *ngIf="isSended">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
  </div>

  </div>

  
  <div class="mail-box" *ngIf="!isSended">
    <aside class="sm-side">
      <div class="inbox-body">
      </div>
      <ul class="inbox-nav inbox-divider"  cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="available"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)">
        <h2 class="text-center">Available Asset List</h2>
        <li class="uppercase cursor-grab" *ngFor="let item of available" cdkDrag [cdkDragDisabled]="item.assetName==''?true:false">
          <a >{{item.assetName}}</a>
        </li>
      </ul>
    </aside>
    <aside class="lg-side">
      <div class="inbox-head">
        <h3 class="text-center m-auto ">ASSETS</h3>
      </div>
      <div class="inbox-body">
        <div class="mail-option">
        </div>
        <table class="table table-inbox table-hover table-fixed">
          <tbody>
            <tr class="px-6 py-2" 
            cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="mailList"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="drop($event)">            
              <td class="text-center uppercase cursor-grabbing bg-green-400 text-Black-600 rounded-full" *ngFor="let item of mailList" cdkDrag  [cdkDragDisabled]="item.assetName=='Drop Here'?true:false">{{item.assetName}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-content-lg-end cursor-pointer">
                      <button (click)="sendAckMail()" class="bg-blue-500 hover:bg-blue-400  text-gray-800 font-bold py-2 px-2 rounded inline-flex items-center">
                        <svg class="fill-current w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                        <span >Acknowledge</span>
                      </button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </aside>
  </div>
</div>

